<app-titulo [tituloName]="'Agendamentos {Nome da sala}'"></app-titulo>
<div class="container mt-2" id="container">
  <div class="grid d-flex flex-wrap mx-auto" id="grid">
    <div class="col-12 mb-2" id="plus">
      <button type="button" class="btn btn-outline-primary" routerLink="/menu/agendamento-detalhe"><i class="fa fa-plus"></i></button>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-md-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 " id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4" id="card">
      <div class="bg-primary text-center rounded-top" id="hora">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm" id="dados">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Terapeuta</strong><br/>
          Nome do terapeuta
        </p>
      </div>
      <div class="d-flex justify-content-between" id="btns">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-sm fade" id="modalPacientes" tabindex="-1" aria-labelledby="modalPacientes" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white bg-primary bg-gradient">
        <h5 class="modal-title">Deseja mesmo cancelar o agendamento?</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <p>Isso não poderá ser desfeito!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-outline-danger">Sim</button>
      </div>
    </div>
  </div>
</div>

