<app-titulo [tituloName]="'Agendamentos {Nome da sala}'"></app-titulo>
<div class="container mt-4">
  <div class="grid d-flex flex-wrap ">
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">9:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">10:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">11:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">12:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">13:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">14:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">15:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">16:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">17:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
    <div class="col-2 border rounded shadow mb-4 me-4">
      <div class="bg-primary text-center rounded-top">
        <p class="text-white fs-4 ">18:30</p>
      </div>
      <div class="ms-1 lh-sm">
        <p>
          <strong>Paciente</strong><br/>
          Nome do paciente
        </p>
        <p>
          <strong>Atendente</strong><br/>
          Nome do atendente
        </p>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-outline-primary btn-sm my-2 ms-1">Editar</button>
        <button type="submit" class="btn btn-outline-danger btn-sm my-2 me-1" data-bs-toggle="modal" data-bs-target="#modalPacientes">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-sm fade" id="modalPacientes" tabindex="-1" aria-labelledby="modalPacientes" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white bg-primary bg-gradient">
        <h5 class="modal-title">Deseja mesmo cancelar o agendamento?</h5>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body">
        <p>Isso não poderá ser desfeito!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Não</button>
        <button type="button" class="btn btn-outline-danger">Sim</button>
      </div>
    </div>
  </div>
</div>

