<div class="container" id="container">
  <form [formGroup]="formulario" class="row g-3 shadow mt-2 border rounded p-2">
    <div class="col-12">
      <label for="nomeSalas" class="form-label">Nome da Sala</label>
      <input type="text" class="form-control" id="nomeSalas" formControlName="nm_sala"
      [ngClass]="{'is-invalid':controls.nm_sala.errors && controls.nm_sala.touched}">
      <div class="invalid-feedback">O nome do paciente é obrigatório</div>
    </div>
    <div class="col-3 time">
      <label for="IniAtend" class="form-label">Primeiro Horario</label>
      <input type="time" class="form-control" id="IniAtend" formControlName="i_horario"
      [ngClass]="{'is-invalid':controls.i_horario.errors && controls.i_horario.touched}">
      <div class="invalid-feedback">Definir os horários da sala é obrigatório</div>
    </div>
    <div class="col-3 time mb-3">
      <label for="FimAtend" class="form-label">Ultimo Horario</label>
      <input type="time" class="form-control" id="FimAtend" formControlName="u_horario"
      [ngClass]="{'is-invalid':controls.u_horario.errors && controls.u_horario.touched}">
      <div class="invalid-feedback">Definir os horários da sala é obrigatório</div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <button type="submit" class="btn btn-outline-danger" routerLink="/salas/salas-lista">Cancelar</button>
      <button type="submit" class="btn btn-outline-success">Efetivar</button>
    </div>
  </form>
</div>

