<div class="container" id="container">
  <form [formGroup]="formulario" class="row g-3 p-2 shadow mt-2 border rounded">
    <div>
      <label for="nomeAtendente" class="form-label">Nome:</label>
      <input type="text" class="form-control" id="nomeAtendente"
      [ngClass]="{'is-invalid':controls.nm_terapeuta.errors && controls.nm_terapeuta.touched}"
      formControlName="nm_terapeuta">
      <div class="invalid-feedback">O nome do terapeuta é obrigatório</div>
    </div>
    <div class="col-6">
      <label for="cracha" class="form-label">Cracha:</label>
      <input type="text" class="form-control" id="cracha"
      [ngClass]="{'is-invalid':controls.cracha.errors && controls.cracha.touched}"
      formControlName="cracha">
      <div class="invalid-feedback" *ngIf="controls.cracha.hasError('required')">
        O cracha do terapeuta é obrigatório
      </div>
      <div class="invalid-feedback" *ngIf="controls.cracha.hasError('pattern')">
        O cracha só pode conter números
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <button type="submit" class="btn btn-outline-danger" routerLink="/atendentes/atendentes-lista">Cancelar</button>
      <button type="submit" class="btn btn-outline-success" (click)="salvarAlteracao()">Efetivar</button>
    </div>
  </form>
</div>

