<app-titulo [tituloName]="'Cadastro de salas'"></app-titulo>
<div class="container w-50">
  <form class="row g-3 mt-2 border rounded">
    <div>
      <label for="nomeSalas" class="form-label">Nome da Sala</label>
      <input type="text" class="form-control" id="nomeSalas">
    </div>
    <div class="col-3">
      <label for="IniAtend" class="form-label">Primeiro Horario</label>
      <input type="time" class="form-control" id="IniAtend">
    </div>
    <div class="col-3">
      <label for="FimAtend" class="form-label">Ultimo Horario</label>
      <input type="time" class="form-control" id="FimAtend">
    </div>
    <div class="ms-1 mb-2">
      <label class="form-check-label" for="ativoSalas">Ativo</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="ativoSalas" checked>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <button type="submit" class="btn btn-outline-danger"  routerLink="/salas/salas-lista">Cancelar</button>
      <button type="submit" class="btn btn-outline-success">Efetivar</button>
    </div>
  </form>
</div>

