<app-titulo [tituloName]="'Cadastro de pacientes'"></app-titulo>
<div class="container w-50">
  <form [formGroup]="formulario" class="row g-3 mt-1 border rounded">
    <div>
      <label for="nomePacientes" class="form-label">Nome</label>
      <input type="text" class="form-control" id="nomePacientes">
    </div>
    <div class="col-4">
      <label for="dtnasc" class="form-label">Data de nascimento</label>
      <div class="input-group col-sm-2 ">
        <input type="datetime" class="form-control" formControlName="dtnasc" id="dtnasc"
        [bsConfig]="bsConfig" bsDatepicker #datapicker="bsDatepicker" triggers="none"
        placement="right"/>
        <button class="btn btn btn-outline-primary" (click)="abrirCalendario()"><i class="fa-solid fa-calendar-days"></i></button>
      </div>
    </div>
    <div class="ms-1">
      <label class="form-check-label" for="ativoPacientes">Ativo</label>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="ativoPacientes" checked>
      </div>
    </div>
    <div class="d-flex justify-content-between mb-2">
      <button type="submit" class="btn btn-outline-danger"  routerLink="/pacientes/pacientes-lista">Cancelar</button>
      <button type="submit" class="btn btn-outline-success">Efetivar</button>
    </div>
  </form>
</div>
