@media (min-width: 1025px) {
  #container{
    width: 50%;
  }
}

@media (max-width: 768px) {
  #container{
    width:90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  #container{
    width: 50%;
  }
}
