.customDivButton{
  transition: 0.2s;
  color: white;
}
.customDivButton:hover{
  background-color: rgb(13, 106, 255);
  color: white!important;
}
#datetime{
  width: 80px;
  height: 45px;
  text-align: center;
  font-size: 14px;
}
#name{
  margin-top: 10px;
}
