<nav class="nav bg-primary bg-gradient shadow p-2 text-white d-flex justify-content-between fixed-top">
  <button type="button" class="nav-item btn align-middle" data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasExample" id="navButton">
    <i class="fa-solid fa-bars fa-2xl"></i>
  </button>
  <!-- <app-titulo [tituloName]="'Controle de salas'" class="nav-item mt-2"></app-titulo> -->
  <span id="name">
    <p><strong>Clinica Pilares</strong></p>
  </span>
  <span id="datetime">
    <p>{{data|async}}<br/>{{hora|async}}</p>
  </span>
</nav>
 <!-- Button trigger modal -->

<!-- Sidebar -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header bg-primary bg-gradient">
    <a routerLink="/menu/menu-lista" class="text-decoration-none" data-bs-dismiss="offcanvas">
      <h5 class="offcanvas-title text-light" id="offcanvasExampleLabel">Menu</h5>
    </a>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/pacientes/pacientes-lista" class="nav-link link-dark customDivButton rounded p-3" data-bs-dismiss="offcanvas">
          Pacientes
        </a>
      </li>
      <li>
        <a routerLink="/atendentes/atendentes-lista" class="nav-link link-dark customDivButton rounded p-3" data-bs-dismiss="offcanvas">
          Terapeutas
        </a>
      </li>
      <li>
        <a routerLink="/salas/salas-lista" class="nav-link link-dark customDivButton rounded p-3" data-bs-dismiss="offcanvas">
          Configuração de salas
        </a>
      </li>
    </ul>
  </div>
</div>
