<div class="container">
  <app-titulo [tituloName]="'Pacientes'" (buttonClicked)="pesquisaPac($event)" [opts]="opts" [opt]="this.opts[0]" class="text-center"></app-titulo>
  <table class="table text-center mx-auto response-table align-middle mt-3">
    <thead class="table-dark align-middle">
      <tr>
        <th>Nome</th>
        <th>Data de nascimento</th>
        <th>
          <i class="fa fa-gear"></i>
        </th>
        <th>
          <button type="button" id="plus" class="btn btn-outline-primary" routerLink="/pacientes/pacientes-detalhe"><i class="fa fa-plus"></i></button>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="pacientes && pacientes.length > 0" >
      <tr *ngFor="let paciente of pacientes">
        <td>{{paciente.nm_paciente}}</td>
        <td>{{paciente.dt_nasc | DataFormatPipe}}</td>
        <td class="buttons">
          <button type="button" routerLink="/pacientes/pacientes-detalhe" class="btn btn-outline-primary btn-sm me-1" (click)="pacientesDetalhe(paciente.id_paciente)"><i class="fa fa-edit"></i></button>
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="openModal(tamplate,paciente.id_paciente)"><i class="fa fa-trash"></i></button>
        </td>
        <td></td>
      </tr>
    </tbody>
    <tfoot *ngIf="!pacientes.length">
      <tr>
          <td colspan="8" class="text-center">
            <h6>Nenhum paciente encontrado.</h6>
          </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- <div class="modal modal-sm fade" id="modalPacientes" tabindex="-1" aria-labelledby="modalPacientes" aria-hidden="true"> -->
<ng-template #tamplate>
  <div class="modal-header text-white bg-primary bg-gradient">
    <h5 class="modal-title">Deseja mesmo excluir?</h5>
    <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
  </div>
  <div class="modal-body">
    <p>Isso não poderá ser desfeito!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="closeModal()">Não</button>
    <button type="button" class="btn btn-outline-danger" (click)="deletarPac()">Sim</button>
  </div>
</ng-template>
