table tbody tr{
  background-color: rgba(0, 0, 0, 0.04);
}
#plus{
  margin-right: 10px;
}
tfoot{
  background-color: red;
  color: white;
}

@media (min-width: 1025px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (max-width: 768px) {
  .response-table{
    width: 95%;
    font-size:15px;
  }
  .buttons{
    width: 100px;
  }

}
